*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}


/* upgrade section */
.upgrade-section{
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.upgrade-btn{
    text-align: right;
    padding: 1.5rem 0.5rem 2rem 0;
}

.upgrade-btn a{
    color: #ffffff;
    border: 1px solid #ffffff;
    text-decoration: none;
    padding: 1rem 3rem;
    border-radius: 30px;
    display: inline-block;
}

.upgrade-btn a:hover{
    transform: scale(1.1);
}


/* sidebar */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 87.6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000000;
    padding: .5rem 0;
}

.sidebar-up{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .logo-small{
    width: 40px;
    margin: 0 1rem;
}

.sidebar .logo-big{
    display: none;
    width: 150px;
    margin: 1rem 6rem 2rem 1rem;
}

.sidebar img{
    width: 40px;
}

.sidebar ul{
    list-style-type: none;
}

.sidebar span{
    display: none;
    margin-left: 1rem;
}

.sidebar-playlist{
    display: none;
}

.sidebar-low{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-low .download-btn{
    width: 18px;
    padding-bottom: 1rem;
}

.sidebar-low .profile-btn{
    background-color: #878787;
    padding: 3px;
    clip-path: circle();
}

@media screen and (min-width: 553px) {
    .sidebar .logo-small{
        display: none;
    }
    
    .sidebar .logo-big{
        display: block;
    }

    .sidebar span{
        display: inline-block;
    }

    .sidebar a{
        color: #878787;
        vertical-align: middle;
    }

    .sidebar a:hover{
        color: #ffffff;
    }

    .li-selected a{
        color: #ffffff;
    }
    
    .li-selected{
        border-left: 3px solid #64DB00;
    }

    .sidebar-up{
        align-items: flex-start;
    }

    .pages-list li{
        padding-left: 1rem;
        margin-top: 1rem;
    }

    li img{
        vertical-align: middle;
    }

    .sidebar-playlist{
        display: block;
        margin: 1rem;
    }

    .sidebar-playlist h2{
        color: #ffffff;
    }

    .create-playlist-btn .fa-plus{
        color: #000000;
        background-color: #878787;
        font-size: 1.2rem;
        padding: 1rem;
    }

    .create-playlist-btn span{
        font-size: 1.2rem;
        color: #878787;
    }

    .sidebar-playlist li{
        color: #878787;
    }

    .create-playlist-btn:hover .create-playlist-text{
        color: #ffffff;
    }

    .create-playlist-btn:hover .fa-plus{
        background-color: #ffffff;
    }

    .sidebar-playlist li:hover{
        color: #ffffff;
    }

    .sidebar-playlist li{
        margin-top: 1rem;
    }

    .sidebar-low{
        align-items: flex-start;
        margin-left: 1rem;
    }

    .sidebar-low span{
        color: #878787;
    }

    .download-btn-box{
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
        border-bottom: 1px solid #878787;
        width: 210px;
    }

    .download-btn-box:hover .download-btn-text{
        color: #ffffff;
    }

    .sidebar-low .download-btn{
        padding-bottom: 0;
    }

    .profile-btn-box{
        display: flex;
        align-items: center;
        margin-top: 1rem;
    }

    .profile-btn-box h2{
        color: #ffffff;
        margin-left: 1rem;
    }
}



/* song player */
.song-player{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282828;
    padding: 1.1rem 0 1.5rem;
}

.current-song{
    flex-basis: calc(100% / 3);
    max-width: 293px;
    display: flex;
    align-items: center;
}

.img-box{
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-song img{
    width: 70%;
    max-width: 50px;
}

.song-name{
    flex-basis: 35%;
}

.song-name-box{
    width: min-content;
}

.song-name p:first-child{
    color: #ffffff;
    font-weight: 600;
}

.song-name p:last-child{
    color: #878787;
    font-size: .8rem;
}

.song-name p:last-child:hover{
    color: #ffffff;
    text-decoration: underline;
}

.song-icons{
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.song-icons .fa-heart{
    color: #878787;
    width: min-content;
}

.song-icons .fa-heart:hover{
    color: #ffffff;
}

.song-icons .fa-folder{
    color: #878787;
    width: min-content;
}

.song-icons .fa-folder:hover{
    color: #ffffff;
}

.mixer{
    flex-basis: calc(100% / 3);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.mixer-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    width: 100%;
    max-width: 215px;
}

.mixer-icons .fa-circle-play{
    font-size: 1.8rem;
}

.mixer-icons .fa-circle-play:hover{
    transform: scale(1.1);
}

.mixer-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mixer-bar p{
    font-size: .7rem;
    color: #ffffff;
}

.volume{
    flex-basis: calc(100% / 3);
    max-width: 293px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    color: #ffffff;
}

.bar{
    height: 5px;
    width: 75%;
    border-radius: 30px;
    background-color: #878787;
    position: relative;
}

.bar.volume-bar{
    width: 45%;
    margin-right: 1rem;
}

.bar-past{
    width: 25%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 30px;
}

.bar .fa-circle{
    display: none;
    color: #ffffff;
    position: absolute;
    top: -70%;
    left: calc(25% - .5rem);
}

.bar:hover .bar-past{
    background-color: #64DB00;
}

.bar:hover .fa-circle{
    display: block;
}

@media screen and (min-width: 639px) {
    .song-name-box{
        width: 100%;
    }
}

@media screen and (min-width: 878px) {
    .song-icons{
        flex-direction: row;
        justify-content: flex-start;
    }
}